@import "tailwindcss";

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.group-hover\:animate-shimmer {
  animation: shimmer 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

* {
  font-family: roboto;
}
